{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
      <img class="img-rounded" src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Napoleon_Division_General_by_Bellange.jpg/490px-Napoleon_Division_General_by_Bellange.jpg" style="width:100%;">
    </div>
    <div class="col-md-8">
      <p>- Assisting in the campaign to find a job.</p>
      <ul>
        <li><a href="/companies/">Companies</a></li>
        <li><a href="/companies/contacts/">Contacts</a></li>
        <li><a href="/companies/positions/">Positions</a></li>
      </ul>
    </div>
  </div>  
{% endblock %}
