<!DOCTYPE html>
{% load bootstrap3 %}
{% load staticfiles %}

<html>
  <head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
<div class="row">
    <div class="col-md-3 col-md-offset-1">
      <img class="img-rounded" src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Napoleon_Division_General_by_Bellange.jpg/490px-Napoleon_Division_General_by_Bellange.jpg" style="width:80%; margin: 30px;">
      </div>
      <div class="col-md-8">
        <h1>Aide-De-Camp</h1>
        <p>- Assisting in the campaign to find a job.</p>
          <ul>
            <li><a href="/companies/">Companies</a></li>
            <li><a href="/companies/contacts/">Contacts</a></li>
            <li><a href="/companies/positions/">Positions</a></li>
          </ul>
        </div>
    </div>  
  </body>  
</html>
