{% extends "base.html" %}

{% block title %}
{{ object.name }}
{% endblock %}

{% block add_link %}
<li>
<a href="{% url 'company:company_create' %}">
    <span class="glyphicon glyphicon-plus"></span>
  </a>
</li>
{% endblock %}

{% block edit_link %}
<li><a href="{{ object.get_update_url }}">Edit</a></li>
{% endblock %}

{% block content %}
<p>{{ object.location }}</p>
{% if object.notes %}
<h3>Notes</h3>
<p>{{ object.notes|linebreaks }}</p>
{% endif %}
{% if object.contact_set.all %}
<h3>Contacts</h3>
<ul>
{% for contact in object.contact_set.all %}
<li><a href="{{ contact.get_absolute_url }}">{{ contact }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% if object.position_set.all %}
<h3>Positions</h3>
<ul>
{% for position in object.position_set.all %}
<li><a href="{{ position.get_absolute_url }}">{{ position }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
