{% extends "base.html" %}

{% load contains %}

{% block title %}
{{ object.name }}
{% endblock %}

{% block add_link %}
  <li class="dropdown">
    <a href="#" class=dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span></a>
    <ul class="dropdown-menu">
      <li><a href="{% url 'company:company_create' %}">Company</a></li>
      <li><a href="{% url 'company:position:position_create' %}">Position</a></li>
    </ul>
  </li>
{% endblock %}

{% block edit_link %}
<li><a href="{{ object.get_update_url }}">Edit</a></li>
{% endblock %}

{% block content %}
<p>{{ object.location }}</p>
<p>{% if object.website|contains:"http://" %}<a href="{{ object.website }}">{{ object.website }}</a>{% else %}{{ object.website }}{% endif %}</p>
{% if object.notes %}
<h3>Notes</h3>
<p>{{ object.notes|linebreaks }}</p>
{% endif %}
{% if object.contact_set.all %}
<h3>Contacts</h3>
<ul>
{% for contact in object.contact_set.all %}
<li><a href="{{ contact.get_absolute_url }}">{{ contact }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% if object.position_set.all %}
<h3>Positions</h3>
<ul>
{% for position in object.position_set.all %}
<li><a href="{{ position.get_absolute_url }}">{{ position }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
