{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}
Companies
{% endblock %}

{% block add_link %}
<li>
<a href="{% url 'company:company_create' %}">
    <span class="glyphicon glyphicon-plus"></span>
  </a>
</li>
{% endblock %}

{% block content %}
<ul>
  {% for object in object_list %}
    <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  {% empty %}
  <li>Looks like there aren't any companies yet, <a href="{% url 'company:company_create' %}">create one</a>?</li>
  {% endfor %}
</ul>
{% endblock %}
