{% load contains %}

{% if contacts %}
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Company</th>
      <th>Position</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Website</th>
    </tr>
  </thead>
  <tbody>
    {% for object in contacts %}
      <tr>
        <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
        <td>{% for company in object.company.all %}{% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}{{ company }}{% endfor %}</td>
        <td>{{ object.position }}</td>
        <td><a href="mailto:{{ object.email }}">{{ object.email }}</a></td>
        <td>{{ object.phone }}</td>
        <td>{% if object.website|contains:"http://" %}<a href="{{ object.website }}">{{ object.website }}</a>{% else %}{{ object.website }}{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Looks like there aren't any contacts yet, <a href="{% url 'company:contact:contact_create' %}">create one</a>?</p>
{% endif %}

